<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="ConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\varun\Web Works\gpmgc\GPMGC\App_Data\Database.mdf;Integrated Security=True;User Instance=True" />
    <add name="ConnectionString" connectionString="Data Source=199.79.62.22;Initial Catalog=admin_gpmgcm;Persist Security Info=True;User ID=gpmgcm;Password=idwT1?95;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" prefixLanguageFilePath=""
       path="/default.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" subStatusCode="-1" prefixLanguageFilePath=""
       path="/default.aspx" responseMode="ExecuteURL" />
    </httpErrors>

  </system.webServer>
  <location path="users">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <machineKey validationKey="EA663258AE92FD89835D260126848155129586911F55CB3182970269001CFAE8031539AFAFD68B94523F44EBB80EA802EA33D6A12F7B32551108F08801269BC7" decryptionKey="8A1357EF3B84393C0DEF30ED6ECDBB08C0B2E8F736104A58750BEE1BC9CE5D6F" validation="SHA1" decryption="AES" />
    <httpRuntime executionTimeout="540000" maxRequestLength="2097151"/>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"></customErrors>
  </system.web>

</configuration>