<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
	<rule name="category with three parameter">
		<match url="^category/([\w-]+)/([\w-]+)/([\w-]+)$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/catgory-product.php?cat={R:1}&amp;prt={R:2}&amp;third={R:3}" />
	</rule>

	<rule name="category with two parameter">
		<match url="^category/([\w-]+)/([\w-]+)$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/catgory-product.php?cat={R:1}&amp;prt={R:2}" />
	</rule>
	<rule name="category with single parameter">
		<match url="^category/([\w-]+)$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/catgory-product.php?cat={R:1}" />
	</rule>
	<rule name="category with no parameter">
		<match url="^products$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/catgory-product.php" />
	</rule>
	<rule name="product with three parameter">
		<match url="^product/([\w-]+)/([\w-]+)/([\w-]+)$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/product-detail.php?pdt={R:1}&amp;cat={R:2}&amp;prt={R:3}" />
	</rule>

	<rule name="product with two parameter">
		<match url="^product/([\w-]+)/([\w-]+)$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/product-detail.php?pdt={R:1}&amp;cat={R:2}" />
	</rule>
	<rule name="product with single parameter">
		<match url="^product/([\w-]+)$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/product-detail.php?pdt={R:1}" />
	</rule>

	<rule name="activate account">
		<match url="^activate-account/(\w+|[\w.-]+@[\w-]+\.[\w.-]+)/([\w-]+)$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/index.php?email={R:1}&amp;code={R:2}" />
	</rule>
	<rule name="my account">
		<match url="^my-account$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/my-account.php" />
	</rule>
	<rule name="user cart page">
		<match url="^cart$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/user-cart.php" />
	</rule>
	
	<rule name="checkout">
		<match url="^checkout$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/checkout.php" />
	</rule>
	<rule name="register">
		<match url="^register$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/index.php?action=register" />
	</rule>
	<rule name="about">
		<match url="^about-ahmed-sulaiman-commercial$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/about.php" />
	</rule>
	<rule name="who we are">
		<match url="^who-we-are$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/about.php" />
	</rule>
	<rule name="brands">
		<match url="^brands$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/brands.php" />
	</rule>
	<rule name="enquiry">
		<match url="^enquiry$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/enquiry.php" />
	</rule>
	<rule name="contact us">
		<match url="^contact-us$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/contact.php" />
	</rule>
	<rule name="vision and mission">
		<match url="^vision-and-mission$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/vision-and-mission.php" />
	</rule>
	<rule name="chairman message">
		<match url="^chairman-message$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/chairman-message.php" />
	</rule>
	<rule name="logout page">
		<match url="^logout$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/logout.php" />
	</rule>
	<rule name="register message">
		<match url="^register$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/register.php" />
	</rule>
	<rule name="after checkout">
		<match url="^post-order$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/post-order.php" />
	</rule>

	<rule name="Terms and conditions">
		<match url="^terms-and-conditions$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/terms-and-conditions.php" />
	</rule>
	
	<rule name="Privacy Policy">
		<match url="^privacy-policy$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/privacy-policy.php" />
	</rule>

	<rule name="Cash on delivery">
		<match url="^cash-on-delivery$" ignoreCase="false" />
      <action type="Rewrite"  url="/beta/cash-on-delivery.php" />
	</rule>
</rules>
    </rewrite>
    <httpErrors>
       <remove statusCode="401" subStatusCode="-1" />
       <remove statusCode="403" subStatusCode="-1" />      
       <remove statusCode="404" subStatusCode="-1" />                
       <remove statusCode="500" subStatusCode="-1" />
        
       <error statusCode="404" path="/beta/notfound.php" responseMode="ExecuteURL" />                
       <error statusCode="500" path="/somedir/500.asp" responseMode="ExecuteURL" />
</httpErrors>
  </system.webServer>
</configuration>
